.jumbotron-fluid{
    background-image: url('../Delani-studio/assets/backgrounds/h_img.jpg');
    height: 580px;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.jumbotron-fluid h1{
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 50px;
}
.jumbotron-fluid p{
    font-size: 15px;
    border-radius: 0px;
}

.jumbotron bg-white{
    text-align: center;

}
.fridah{
    background-image: url("../Delani-studio/assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;

}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height:400px;
}
.container{
    padding: 0;
    margin: 0;
}
figure {
    padding-top: 40px;
}
.a{
    padding-top: 20px;
}
.c{
    background-image: url("../Delani-studio/assets/backgrounds/c_image.jpg");
    height: 400px;
    margin-top: 1%;
}
.c-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height:400px;
}
input[type=text],input[type=email],#textarea{
    background: transparent;
    margin: 10px;
    
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;
}