.jumbotron-fluid{
    background-image: url('../Delani-studio/assets/backgrounds/h_img.jpg');
    height: 580px;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.jumbotron-fluid h1{
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 50px;
}
 .jumbotron-fluid h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;


}
.jumbotron-fluid p{
    font-size: 15px;
    border-radius: 0px;
}

.jumbotron bg-white{
    text-align: center;

}
.services{
    background-image: url("../Delani-studio/assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 300px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;

}
.services-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height:300px;
}
.container{
    padding: 0;
    margin: 0;
}
figure {
    padding-top: 40px;
}
.what-we-do{
    padding-top: 20px;
}
.contact-us{
    background-image: url("../Delani-studio/assets/backgrounds/c_image.jpg");
    height: 400px;
    margin-top: 1%;
}
.c-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height:400px;
}
input[type=text],input[type=email],#textarea{
    background: transparent;
    margin: 10px;
    
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;
}
#pic1:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.overlay1{
    background-color: rgba(255, 255, 255, 0.5);
    height: 230px;
    visibility: hidden;

}
#one{
    background-image: url("../Delani-studio/assets/portfolio/work4.jpg");
    height:230px;
    padding: 0;
    margin: 0;
}
#pp{
    color: blueviolet;
padding-top: 75px;
visibility: hidden;
font-size: 50px
}
#one:hover #pp{
    visibility: visible;

}
#one:hover .overlay1{
    visibility: visible;
}
img:hover{
    opacity: 0.3;
    
}
#two{
    background-image: url("../Delani-studio/assets/portfolio/work3.jpg");
    height: 230px;
    padding: 0;
    margin: 0;

}
#pp1{
    color: aqua;
padding-top: 75px;
visibility: hidden;
font-size: 40px
}
#two:hover #pp1{
    visibility: visible;

}
#two:hover .overlay1{
    visibility: visible;
}
#three {
    background-image: url("../Delani-studio/assets/portfolio/work2.jpg");
    height:230px;
     padding: 0;
     margin: 0;
    }
    #pp2{
        color: orangered;
    padding-top: 75px;
    visibility: hidden;
    font-size: 30px;
    }
    #three:hover #pp2{
        visibility: visible;
    
    }
    #three:hover .overlay1{
        visibility: visible;
    }
    #four{
        background-image: url("../Delani-studio/assets/portfolio/work1.jpg");
     height:230px;
    padding: 0;
    margin: 0;
    }

    #pp3{
        color: orangered;
    padding-top: 75px;
    visibility: hidden;
    font-size: 40px;
    }
    #four:hover #pp3{
        visibility: visible;
    
    }
    #four:hover .overlay1{
        visibility: visible;
    }
    #five{
        background-image: url("../Delani-studio/assets/portfolio/work5.jpg");
     height:230px;
    padding: 0;
    margin: 0;
    }

    #pp4{
        color:orangered;
    padding-top: 75px;
    visibility: hidden;
    font-size: 40px
    }
    #five:hover #pp4{
        visibility: visible;
    
    }
    #five:hover .overlay1{
        visibility: visible;
    }
    #six{
        background-image: url("../Delani-studio/assets/portfolio/work6.jpg");
     height:230px;
    padding: 0;
    margin: 0;
    }

    #pp5{
        color:orangered;
    padding-top: 75px;
    visibility: hidden;
    font-size: 40px;
    }
    #six:hover #pp5{
        visibility: visible;
    
    }
    #six:hover .overlay1{
        visibility: visible;
    }
    #seven{
        background-image: url("../Delani-studio/assets/portfolio/work7.jpg");
        height:230px;
        padding: 0;
        margin: 0;
    }

    #pp6{
        color: orangered;
        padding-top: 75px;
        visibility: hidden;
        font-size: 40px;
    }
    #seven:hover #pp6{
        visibility: visible;
    
    }
    #seven:hover .overlay1{
        visibility: visible;
    }
    #eight{
        background-image: url("../Delani-studio/assets/portfolio/work8.jpg");
        height:230px;
        margin: 0;
    }

    #pp7{
        color: blue;
        padding-top: 75px;
        visibility: hidden;
        font-size: 40px;
    }
    #eight:hover #pp7{
        visibility: visible;
    
    }
    #eight:hover .overlay1{
        visibility: visible;
    }