.jumbotron-fluid{
    background-image: url('../Delani-studio/assets/backgrounds/h_img.jpg');
    height: 580px;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.jumbotron-fluid h1{
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 50px;
}
 .jumbotron-fluid h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;


}
.jumbotron-fluid p{
    font-size: 15px;
    border-radius: 0px;
}

.jumbotron bg-white{
    text-align: center;

}
.services{
    background-image: url("../Delani-studio/assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 300px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;

}
.services-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height:300px;
}
.container{
    padding: 0;
    margin: 0;
}
figure {
    padding-top: 40px;
}
.what-we-do{
    padding-top: 20px;
}
.contact-us{
    background-image: url("../Delani-studio/assets/backgrounds/c_image.jpg");
    height: 400px;
    margin-top: 1%;
}
.c-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height:400px;
}
input[type=text],input[type=email],#textarea{
    background: transparent;
    margin: 10px;
    
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;
}
#pic1:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
